<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Statistics" />

<f:section name="content">

    <f:render partial="Form/StatisticsFilter" arguments="{currentAction:'index', statisticsFilterForm:statisticsFilterForm}" />

    <div>
        <h2>Top 5 Request URIs</h2>
        <f:if condition="{requestUris}">
            <f:then>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>URL</th>
                            <th>Latest request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{requestUris}" as="row">
                            <tr>
                                <td>{row.count}</td>
                                <td>
                                    <f:link.action action="detailRequestUri" arguments="{requestUri:row.request_uri}">
                                        {row.request_uri}
                                    </f:link.action>
                                </td>
                                <td>{row.latest_time -> f:format.date(format:'d.m.Y H:i:s')}</td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
                <div>
                    <f:link.action action="listRequestUri" class="btn btn-default">
                        <f:translate key="---todo---" default="Show all (LLL)" />
                    </f:link.action>
                </div>
            </f:then>
            <f:else>
                <p>No request URIs found</p>
            </f:else>
        </f:if>
    </div>
    <div>
        <h2>Top 5 Referers</h2>
        <f:if condition="{refererUris}">
            <f:then>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>URL</th>
                            <th>Latest request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{refererUris}" as="row">
                            <tr>
                                <td>{row.count}</td>
                                <td>
                                    <f:if condition="{row.referer_uri}">
                                        <f:then>{row.referer_uri}</f:then>
                                        <f:else><i>No referer</i></f:else>
                                    </f:if>
                                </td>
                                <td>{row.latest_time -> f:format.date(format:'d.m.Y H:i:s')}</td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
                <div>
                    <f:link.action action="listReferer" class="btn btn-default">
                        <f:translate key="---todo---" default="Show all (LLL)" />
                    </f:link.action>
                </div>
            </f:then>
            <f:else>
                <p>No referer URIs found</p>
            </f:else>
        </f:if>
    </div>
    <div>
        <h2>Top 5 Status Codes</h2>
        <f:if condition="{statusCodes}">
            <f:then>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>Status</th>
                            <th>Latest request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{statusCodes}" as="row">
                            <tr>
                                <td>{row.count}</td>
                                <td>{row.status_code}</td>
                                <td>{row.latest_time -> f:format.date(format:'d.m.Y H:i:s')}</td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
                <div>
                    <f:link.action action="listStatus" class="btn btn-default">
                        <f:translate key="---todo---" default="Show all (LLL)" />
                    </f:link.action>
                </div>
            </f:then>
            <f:else>
                <p>No status codes found</p>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
