<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="clearfix">
    <div class="pull-left">
        <h1>
            <f:if condition="{header.heading}">
                <f:then>{header.heading}</f:then>
                <f:else>Error Handler Statistics</f:else>
            </f:if>
        </h1>
    </div>

    <div class="pull-right">
        Site: 
        <f:if condition="{rootPage}">
            <f:then>
                <core:iconForRecord table="pages" row="{rootPage}" /> {rootPage.title}
            </f:then>
            <f:else><i>none</i></f:else>
        </f:if>
        
    </div>
</div>
